<nav class="navbar navbar-expand-sm bg-light">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/article">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/article/new">NEW_POST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">EDIT_POST</a>
          </li>
        </ul>
      </nav>